@import 'tailwindcss';
@plugin "daisyui" {
  /* themes: lemonade --default, forest, retro, abyss --prefersdark, garden; */
  themes: all;
}

/* @plugin "daisyui" {
  themes: false;
} */

@plugin "./catppuccinTheme.latte.ts";
@plugin "./catppuccinTheme.frappe.ts";
@plugin "./catppuccinTheme.macchiato.ts";
@plugin "./catppuccinTheme.mocha.ts";

@plugin "@tailwindcss/typography";

@utility mockup-browser {
  & .cute-card-toolbar.mockup-browser-toolbar {
    &::before {
      @apply opacity-50;
    }
  }
}

@utility mockup-browser {
  & .cute-card-toolbar.mockup-browser-toolbar {
    @apply my-1;
  }
}

@font-face {
  font-family: 'Atkinson';
  src: url('/fonts/atkinson-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Atkinson';
  src: url('/fonts/atkinson-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'Atkinson', sans-serif;
  cursor: url('/foo28.cur'), auto;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 2200px;
  margin-inline: auto;
  outline: 4px solid var(--color-base-200);
  color: var(--color-base-content);
  background-image: linear-gradient(
      color-mix(in oklab, var(--color-primary) 20%, transparent) 2px,
      transparent 2px
    ),
    linear-gradient(
      to right,
      color-mix(in oklab, var(--color-success) 20%, transparent) 2px,
      transparent 2px
    );
  background-size: 32px 32px;
}

html {
  background-image: linear-gradient(
    180deg,
    var(--color-base-100),
    color-mix(in oklab, var(--color-secondary) 2%, transparent),
    color-mix(in oklab, var(--color-secondary) 5%, transparent),
    color-mix(in oklab, var(--color-secondary) 10%, transparent)
  );
  background-size: cover;
  background-color: var(--color-base-100);
}

@media (min-width: 48rem) {
  .sidebar {
    min-height: calc(
      100dvh - (16 * var(--spacing) + var(--text-xl)) -
        (5 * var(--spacing) + var(--text-sm))
    );
  }
}

@media (max-width: 48rem) {
  main {
    min-height: calc(
      100dvh - (16 * var(--spacing) + var(--text-xl)) -
        (5 * var(--spacing) + var(--text-sm) + 350px)
    );
  }
}

@media (max-width: 40rem) {
  main {
    min-height: calc(
      100dvh - (16 * var(--spacing) + var(--text-xl)) -
        (5 * var(--spacing) + var(--text-sm) + 290px)
    );
  }
}

p {
  margin-bottom: 1em;
}

/* img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
} */

@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
