---
import ProseLayout from '../layouts/ProseLayout.astro';
---

<style>
  a {
    padding-inline: 0.5em;
  }
  a:hover {
    background-color: var(--color-accent);
    color: var(--color-accent-content);
    border-radius: var(--radius-box);
    text-decoration-style: double;
  }
  @media (max-width: 720px) {
    ul {
      width: 100%;
      padding: 0 0 0 0.5em;
    }
  }
</style>
<ProseLayout
  title="marsh | resources"
  description="A collection of useful links for webdev"
  background="bg-base-100 p-4 rounded-box border-2"
>
  <h3>general resources</h3>
  <ul class="resources-links">
    <li>
      collection of icon collections:
      <a target="_blank" rel="noopener noreferrer" href="https://icones.js.org/"
        >icones.js.org/</a
      >
    </li>
    <li>
      eggramen css pages with layouts:
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://eggramen.neocities.org/code/css_testpages"
        >eggramen.neocities.org/code/css_testpages</a
      >
    </li>
    <li>
      petrapixel has a really cool layout generator and lots of good website
      tips:
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://petrapixel.neocities.org"
        >petrapixel.neocities.org</a
      >
    </li>
    <li>
      lots of pixel art on this tumber:
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://p-i-x-e-l-s.tumblr.com/post/6668016842/tag-list"
        >p-i-x-e-l-s</a
      >
    </li>
    <li>
      neato graphics for use:
      <a target="_blank" rel="noopener noreferrer" href="https://ooops.lol/you/"
        >ooops.lol/you</a
      >
    </li>
    <li>
      wow so many web resources!
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://discourse.32bit.cafe/t/resources-list-for-the-personal-web/49"
        >discourse.32bit.cafe/t/resources-list-for-the-personal-web/49</a
      >
    </li>
    <li>
      website that can pull the color codes from other websites!?!?!
      <a target="_blank" rel="noopener noreferrer" href="http://colorhound.net/"
        >colorhound.net</a
      >
    </li>
    <li>
      a site to test colors for themes:
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.realtimecolors.com/?colors=050315-fbfbfe-2f27ce-dedcff-433bff&fonts=Inter-Inter"
        >realtimecolors.com</a
      >
    </li>
    <li>
      list of emoticons from wikipedia:
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://en.wikipedia.org/wiki/List_of_emoticons"
        >wikipedia.org/wiki/List_of_emoticons</a
      >
    </li>
    <li>
      a really cool page with many different rainbow palettes: 
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://solaria.neocities.org/guides/rainbows"
        >solaria.neocities.org/guides/rainbows</a
      >
    </li>
    <li>
      Consumer Aesthetics Research Institute: 
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://cari.institute/aesthetics"
        >cari.institute/aesthetics</a
      >
    </li>
    <li>
      Web Design Museum: 
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.webdesignmuseum.org/"
        >webdesignmuseum.org</a
      >
    </li>
    <li>
      Gradient generator, pattern generator, dither tool:
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://doodad.dev/"
        >doodad.dev</a
      >
    </li>
    <li>
      All unicode symbols:
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://symbl.cc/"
        >symbl.cc</a
      >
    </li>
  </ul>
  <h3>where I learned webdev</h3>
  <p>
    The internet is vast and there are a million ways to learn webdev, but I'm
    posting sort of my timeline & some of the specific resources I still use.
  </p>
  <ul class="resource-links">
    <li>
      Reading through all the docs on HTML, CSS, and JS on W3schools (has ads):
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.w3schools.com/"
        >w3schools.com</a
      >
    </li>
    <li>
      Like above but more advanced, reading the docs at mdn:
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://developer.mozilla.org/en-US/"
        >developer.mozilla.org/en-US/</a
      >
    </li>
    <li>
      I spent a lot of time watching youtube videos on CSS. CSS is fascinating
      to me, and it's so interesting to learn CSS today and see how it has
      changed over the years. Kevin Powell has been my go-to for really learning
      how CSS works:
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@KevinPowell"
        >youtube.com/@KevinPowell</a
      >
    </li>
    <li>
      On the JavaScript side, I used a lot of tutorials from:
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@freecodecamp"
        >youtube.com/@freecodecamp</a
      >
    </li>
    <li>
      And also:
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@WebDevSimplified"
        >youtube.com/@WebDevSimplified</a
      >
    </li>
    <li>
      Part of my cartography school had me learning Leaflet, which was good for
      understanding JavaScript, but not really 'typical' webdev learning (maps
      are fun though!)
      <a target="_blank" rel="noopener noreferrer" href="https://leafletjs.com/"
        >leafletjs.com/</a
      >
    </li>
    <li>
      This web of educators lead me to other cool webdev people,
      particularly:
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.joshwcomeau.com/"
        >joshwcomeau.com/</a
      >
    </li>
    <li>
      And Coding in Public, especially for working with React and Astro:
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@CodinginPublic"
        >youtube.com/@CodinginPublic</a
      >
    </li>
  </ul>
</ProseLayout>
