---
import { Image } from 'astro:assets';
import kurzg from '../assets/kurzgesagt-me-crop.png';
---
<style>
  .kurzg {
  --s: 15px;  /* control the size of the wave */
  --w: 250px; /* preferred image width */
  
  width: round(var(--w),4*var(--s)); 
  aspect-ratio: 1;
  padding: var(--s);
  border: var(--s) solid #0000;
  box-sizing: border-box;
  /* background: conic-gradient(#CD8C52,#5E9FA3,#CD8C52) border-box; */
  background: 
    conic-gradient(
      color-mix(in oklab, var(--color-base-300) 10%, var(--color-accent)),
      color-mix(in oklab, var(--color-base-300) 10%, var(--color-warning)),
      color-mix(in oklab, var(--color-base-300) 10%, var(--color-accent))
    ) border-box;
  border-radius: calc(3.5*var(--s)); 
  mask: 
    radial-gradient(calc(sqrt(2)*var(--s)),#000 calc(100% - 1px),#0000),
    conic-gradient(#000 0 0) content-box,
    radial-gradient(calc(sqrt(2)*var(--s)),#0000 100%,#000 calc(100% + 1px)) 
     var(--s) var(--s) padding-box;
  mask-size: calc(var(--s)*4) calc(var(--s)*4);
  margin-inline: auto;
  margin-block: 0;
  }
</style>

  <div class="bg-base-100 w-fit p-2 px-5 rounded-box mx-auto text-center">
  <Image class="kurzg" src={kurzg} alt="An infographic-cartoon-style girl with blue hair in a pink beanie laying on the couch looking at her phone" />
    <div class="text-sm p-0 m-0 italic">me admiring all the cutie websites on neocities</div>
    <div class="text-sm p-0 m-0">this is a screenshot from  
    <a class="link hover:text-primary" href="https://www.youtube.com/watch?v=cHEOsKddURQ" target="_blank" rel="noopener noreferrer">kurzgesagt,</a><br>coincidentally very me-coded
    </div>
  </div>