---
import dithertank from '../assets/dither_it_tank_pretty.png';
import { Image } from 'astro:assets';
---
<style>
  
  .tank {
    height: 100%;
    width: auto;
    margin: auto;
  }
  .pixel-border-wrapper {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box {
    height: 200px;
    width: 200px;
    position: relative;
    background-color: color-mix(in oklab, var(--color-error) 50%, var(--color-base-300));
        filter: 
        drop-shadow(2px 2px color-mix(in oklab, var(--color-base-content) 50%, var(--color-base-300))) 
        drop-shadow(1px 0 color-mix(in oklab, var(--color-base-content) 50%, var(--color-base-300)));
    /* background-color: #f9eee6; */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
  }
  .box__line {
    position: absolute;
    background: color-mix(in oklab, var(--color-error) 50%, var(--color-error-content));
  }
  .box__line--top, .box__line--bottom {
    height: 4px;
    width: 100%;
  }
  .box__line--top::before, .box__line--top::after, .box__line--bottom::before, .box__line--bottom::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background: color-mix(in oklab, var(--color-error) 50%, var(--color-error-content));
  }
  .box__line--top {
    top: -4px;
  }
  .box__line--top::before {
    left: 0;
    bottom: -4px;
  }
  .box__line--top::after {
    right: 0;
    bottom: -4px;
  }
  .box__line--bottom {
    bottom: -4px;
  }
  .box__line--bottom::before {
    left: 0;
    top: -4px;
  }
  .box__line--bottom::after {
    right: 0;
    top: -4px;
  }
  .box__line--left, .box__line--right {
    width: 4px;
    height: 100%;
  }
  .box__line--left {
    left: -4px;
  }
  .box__line--right {
    right: -4px;
  }
</style>

<div class="pixel-border-wrapper">
  <div class="box">
    <div class="box__line box__line--top"></div>
    <div class="box__line box__line--right"></div>
    <div class="box__line box__line--bottom"></div>
    <div class="box__line box__line--left"></div>
    <Image
      class="tank"
      src={dithertank}
      alt="a medium sized dog that is sitting on a bed with front legs stretched out"
    />
  </div>
</div>
<p class="bg-base-100 w-fit px-2 mx-auto rounded-sm text-center">my doggie Tank <3</p>
