---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';

const { title, description, background } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description}/>
		<style>
			main {
				width: 100%;
				margin-inline: auto;
        padding: 1em;
        height: 100%;
        container-type: inline-size;
			}
      .prose {
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				/* height: 100%; */
			}
      @container (width > 700px) {
        .prose {
          width: 720px;        }
      }
      @media (max-width: 720px) {
        main {
          padding: 0.5em 0;
        }
      }
			.title {
				padding: 1em 0 0 0;
				text-align: center;
				line-height: 1;
			}
			.title h2 {
				margin: 0 0 0.5em 0;
			}
		</style>
	</head>

	<body class="max-w-10xl">
		<Header />
    <div class="grid md:grid-cols-[16rem_auto]">
      <Sidebar />
    
      <main>
        <article class=`prose prose-sm ${background}`>
          <div class="title">
            <h2>{title}</h2>
            <!-- <hr class="mb-5 mt-5"/> -->
          </div>
          <slot />
        </article>
      </main>
    </div>
		<Footer />
	</body>
</html>
